.fa-sharp {
  color: rgb(50,121,183);
  a {
    color: rgb(50,121,183);
    text-decoration: none;
  }
}

.fa-sharp:hover {
  color: rgb(34,82,124);

  a {
    color: rgb(34,82,124);
    text-decoration: underline;
  }
}
