<div id="<%= dom_id article %>">
  <div class="d-flex align-items-center">
    <h1><strong><%= article.title %></strong></h1>
    <%= render "UD_icons" %>
  </div>


  <p>
    <%= article.body %>
  </p>
</div>
