<%= render "navbar" %>

  <% @articles.each do |article| %>
    <div id="articles">
      <strong><%= link_to article.title, article %></strong>
      <%= "#{article.body[0..170]}...." %>
    </div>
  <% end %>
